extends layout.jade

block title
  title Home

block content
  form(action='#{loginRoute}', method='post')
    div.form-group
      label(for='email') Email
      input#email.form-control(type='text', placeholder='you@example.com', name='email')
    div.form-group
      label(for='password') Password
        input#password.form-control(type='password', name='password')
    input(type='hidden', name='returnTo', value='#{returnTo}')
    button.btn.btn-default(type='submit') Login
